* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    background-color: #111;
    overflow: hidden;
}
.salute {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.salute__text {
    flex: 3;
}
.salute__img {
    flex: 1;
}
.saluteText {
    color: #333;
    font-size: 60vw;
    cursor: default;
    user-select: none;
}
.saluteImg {
    width: 100%;
}
.intro__name {
    height: 100vh;
    background: #0077B6;
}
.name {
    font-size: 16vw;
    color: #333;
    cursor: default;
    text-align: center;
    line-height: 100vh;
}
.intro__jobTitle {
    height: 100vh;
}
.dark {
    background: url("./images/bg1.png");
}
.blue {
    background: #0077B6 url("./images/bg2.png");
}
.jobTitle {
    font-size: 10vw;
    font-weight: 700;
    color: #333;
    line-height: 100vh;
    cursor: default;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0 100px;
}
.projects__title {
    font-size: 10vw;
    font-weight: 700;
    color: #333;
}
.project {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100vh;
    overflow: hidden;
}
.project:nth-child(2n) {
    flex-direction: row-reverse;
}
.project__phone {
    flex: 1;
    position: relative;
    width: 300px;
    height: 600px;
}
.phone__screen {
    width: 264px;
    height: 567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
}
.phone__screen::-webkit-scrollbar {
    display: none;
}
.phone__app {
    width: 100%;
}
.project__detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.project-title {
    font-size: 7vw;
    color: #555;
}
.project-description {
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 40px;
}
.project-btn {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #555;
    outline: none;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.project-btn::after {
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    color: #222;
    background: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s all;
}
.project-btn:hover::after {
    transform: translateX(100%);
}
.project__laptop {
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
}
.laptop__screen {
    width: 451px;
    height: 283px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;
}
.laptop__app {
    width: 100%;
}
.laptop__screen::-webkit-scrollbar {
    display: none;
}
.github {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.github__title {
    font-size: 100px;
    color: #333;
    text-align: center;
}
.github__chart {
    width: 820px;
    text-align: center;
}
.dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.boxChart {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.box {
    width: 15px;
    height: 15px;
    background: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
}
.active:nth-child(4n) {
    background: #195b2c;
}
.github__chart:hover .active:nth-child(2n+1) {
    background: #195b2c;
}
.github__chart:hover .active:nth-child(2n) {
    background: #063f24;
}
.githubSm {
    display: none;
}

@media screen and (max-width:1024px) {

    .projects {
        padding: 0 30px;
        text-align: center;
    }

    .project {
        flex-direction: column;
        height: max-content;
    }
    .project:nth-child(2n){
        flex-direction: column;
    }

    .project__phone,
    .project__laptop {
        transform: none !important;
    }
    
    .github__chart {
        display: none;
    }

    .github__title {
        text-align: center;
        font-size: 10vw;
    }
    .githubSm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color:#555;
        font-size: 30px;
        text-align: center;
    }
}